body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #070707; */
}
.layout{
  display: flex;
}
.sidebar-continuer {
  display: flex;
  width: 15vw;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #643443;
  .logo-title-sidebar {
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: rgb(86, 86, 86);
    transition: all 0.3s ease-in-out;
    background-color: white;
    border: 1px solid white;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
  }
  .active-link {
    color: white;
    background-color: rgb(86, 86, 86);
  }
}
section {
 width: 85vw;
}
.container-tracker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  flex-direction: column;
  gap: 10px;
}
.task {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
  background-color: rgb(174, 71, 126);
  border-radius: 8px;
  transition: all 0.7s ease-in-out;
}
.active-task {
  transform: translateX(3px) translateY(-2px);
}
.sidebar {
  width: 250px;
  background-color: rgb(174, 71, 126);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-task {
  font-size: 18px;
  font-weight: bold;
}
.header-tables {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.color-empty {
  fill: #ebedf0;
}

.color-github-1 {
  fill: #c6e48b;
}

.color-github-2 {
  fill: #7bc96f;
}

.color-github-3 {
  fill: #239a3b;
}

.color-github-4 {
  fill: #196127;
}
.calendar {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-body {
  display: flex;
  flex-direction: column;
}

.calendar-days,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day,
.calendar-day-name {
  text-align: center;
  padding: 5px;
}

.calendar-day-selectable {
  cursor: pointer;
}

.selected {
  background-color: #4caf50;
  color: white;
}

@keyframes move-animation {
  0% {
    transform: translate(-80%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-60%, 60%) rotate(15deg); /* Adjust degrees as needed */
  }
  50% {
    transform: translate(-50%, 50%) rotate(30deg);
  }
  75% {
    transform: translate(-20%, 20%) rotate(45deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(60deg); /* Final rotation */
  }
}

.image-container {
  position: relative;
  overflow: hidden;
}

.split-image {
  position: absolute;
  transition: transform 0.3s ease;
  will-change: transform;
  cursor: pointer;
}
